In [2]:
import numpy as np
import pandas as pd

In [3]:
business_df = pd.read_csv("sample_business.csv")
checkin_df = pd.read_csv("sample_checkin.csv")
review_df = pd.read_csv("sample_review.csv")
tip_df = pd.read_csv("sample_tip.csv")
user_df = pd.read_csv("sample_user.csv")

In [11]:
business_df["categories"]

0                        Pets, Pet Services, Veterinarians
1        Fast Food, Restaurants, American (Traditional)...
2        Fashion, Women's Clothing, Men's Clothing, Chi...
3        Oral Surgeons, Dentists, Health & Medical, End...
4        Shopping, Kitchen & Bath, Home Services, Home ...
                               ...
39995                     Pet Services, Pet Groomers, Pets
39996                  Hair Salons, Barbers, Beauty & Spas
39997                              Auto Repair, Automotive
39998     Seafood, Asian Fusion, Restaurants, Cajun/Creole
39999    American (Traditional), Restaurants, Burgers, ...
Name: categories, Length: 40000, dtype: object

In [5]:
review_df

,Unnamed: 0,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,831341,iOIc7HXnEvxwGFNfOwQjHA,Y4Fv1OCwCY_8le6InU8RMA,ih-1Qf87LfDLNEbypUnddg,2,2,0,1,"Couldn't get in somewhere else nearby, and had...",2015-03-07 04:05:19
1,915821,n2sFg6bVanKyxo9A40GibQ,2lFltjE7uApQsrQ9694SUw,tIvfmgT1qMeAEQf8CI5fPQ,4,0,0,0,"Across the street from the Opryland Resort, so...",2016-12-28 22:01:14
2,840598,ZIez1GiBpxpSQgAN3vlLXQ,C_UEX5Rfs-NHnYIL9oCKUg,XXQapFBGBSJ5eXKyjUI1bg,5,0,0,0,"Amazing, best service Ive had at a Chili's in...",2017-06-19 22:23:53
3,517706,jhedyNPQxiiO6O2_Rk8mCw,9AIzPiPmq33a0x-HsUDx-A,FL04kMEmzQAF_6QZH6lupA,5,10,0,0,Dr Malik and her staff are incredible. I had i...,2017-11-23 20:23:32
4,904255,sHeevev92XaT6-3rvzATAA,jN6m9x7g8InVowK7f8uhFQ,APQWf69OTUQwbYssNNgjCw,5,3,1,1,"Happen to stumble upon this ""hopping"" restaura...",2015-03-26 22:59:24
...,...,...,...,...,...,...,...,...,...,...
39995,753660,tlQmY94Dmm8-pCc-NbaVUQ,R0uf1t30sjqyRmO-FXMgeA,I8lz3u94Y-dWft5fVN3IIA,5,1,0,0,"Finally, the Main Line gets a Brunch option th...",2012-03-05 16:37:19
39996,469249,CMv1s9rTxQqFdl9S9JqUcA,8G_G3864kEDCNrDQQHIpkA,fAiPD2OIEm9wtS7uJqzu5Q,5,0,0,0,Always a healthy go-to for casual lunch or din...,2017-07-13 20:37:35
39997,458366,7aZGHoAhISAAj7g40H4yDQ,bogG_bnJ9rl2Xkm8i9QsvA,sjNVeNqhDjEFHoOybnt2ug,3,0,0,0,Decided to give them a try for dinner today an...,2020-02-11 04:26:01
39998,489685,sj8dI_BsCp2vDZVjfgyv5g,ANXEt33tQl7StORGH0p8QQ,5cDYVPsbDSoBwdIS6UK-Fg,1,0,0,0,I had a really awful experience. I came in wit...,2018-10-27 17:27:41
39999,594975,vOn1McEJS7sI61H1tlQhPw,SqQG-b2zD6cz-4_qK6OL5g,ZAPCUuZBUKbhLF5tiyxDig,4,0,0,1,"I got what seemed like a flat tire, and brough...",2012-06-24 21:45:54

In [7]:
user_df

,Unnamed: 0,user_id,name,review_count,yelping_since,useful,funny,cool,elite,friends,...,compliment_more,compliment_profile,compliment_cute,compliment_list,compliment_note,compliment_plain,compliment_cool,compliment_funny,compliment_writer,compliment_photos
0,494127,knX77K5Kof0_j4Bldyqjyw,Beth,3,2016-07-17 01:05:21,0,0,0,NaN,"61cgUglkQH61nj74WWdJyQ, iImaiEExFUEMDRjVJ1mk1w...",...,0,0,0,0,0,0,0,0,0,0
1,265553,MMYlce0L_M65xeh8SwV3WA,Laura,21,2014-09-22 18:46:00,23,10,12,NaN,"tg4TM48hsJ2SclXTdLLvWg, swEagjOeTKwdp9VnZ8PM0Q",...,0,0,0,0,4,1,0,0,0,0
2,195169,fTU0oU6hZR6gPS0MIjFc_w,Steve,193,2015-10-26 01:17:11,37,6,10,NaN,None,...,0,0,0,0,0,0,1,1,1,1
3,98962,IB5f0wf3su09GC9O0754nA,Brianna,16,2014-07-06 03:06:48,39,10,7,NaN,"PXa3G3OEdpn71cztsqHevg, saaI4u6JKWfzUxwFwsn38g...",...,0,0,0,0,0,1,0,0,0,0
4,294551,R2zy34oAFEKthOssSnwY8A,Dana,15,2015-01-11 15:13:30,5,0,0,NaN,"SX8afpQiZ13Ori7FHNhvqw, U3zUbKEgjwyo-j8PTszNnw...",...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39995,82738,5Uf6gMUssJsaHvLHGH38NQ,Mink,8,2011-10-15 23:46:28,26,7,10,NaN,"fEtWwhNKSoTqIWTSEwGIvg, c8pMZVU9GxiuL-B14vkajg...",...,0,0,0,0,3,1,0,0,0,0
39996,673948,o2NAdWq8oKy9FOMgEcrUnQ,Amy,13,2012-11-28 23:39:16,6,0,1,NaN,"fdQNLtitZiuXBn6F7THwvA, u-LGJKCxVp4SXxL5lRo2dA...",...,0,0,0,0,0,0,0,0,0,0
39997,973699,K15WEci5nx-QvslLM-gH7A,S,2,2019-04-14 16:33:43,1,0,0,NaN,None,...,0,0,0,0,0,0,0,0,0,0
39998,352571,D5QM36MpZKWyTZYWdZ_WGg,Barbara,51,2014-05-18 04:31:52,19,3,4,NaN,hMdZQTD-t9k5JbxmiNt0Uw,...,0,0,0,0,0,1,0,0,0,0
39999,891276,YqwKJmoc6A-9Rpebls9evA,Alexis,3,2017-08-06 01:05:29,0,0,0,NaN,"XuS8lX_mP_nkwPv2R16NZQ, tIkrB5pCmCHw8EpaVweHPQ...",...,0,0,0,0,0,0,0,0,0,0

In [9]:
user_df["elite"].value_counts()

2019,20,20,2021                                  235
2018,2019,20,20,2021                             205
2021                                             165
2017,2018,2019,20,20,2021                        144
20,20,2021                                       134
                                                ...
2011,2012,2014,2015                                1
2016,2017,2018,20,20,2021                          1
2012,2015,2016,2017,2018,2019                      1
2010,2011,2012,2014,2015,2016                      1
2011,2012,2013,2016,2017,2018,2019,20,20,2021      1
Name: elite, Length: 227, dtype: int64

In [10]:
tip_df # number of tips by user

,Unnamed: 0,user_id,business_id,text,date,compliment_count
0,729739,KBen7mIEswFkf1WOJUR3Eg,WjCPK_Y67TuiFLLHc_NHoA,"Karen is great! Professional, fast and does a ...",2017-02-16 16:09:45,0
1,307265,xLFJb3n_Hg5iET6799EwuQ,UkzBUVMDXi9iN3l4cGXpWg,Always great food and service but a bit pricey...,2019-01-24 03:28:37,0
2,747815,3LNCN_aMHo97xvEFR4PhDw,qb28j-FNX1_6xm7u372TZA,Try the honeydew daquiri! Avoid the food.,2018-02-13 00:06:51,0
3,331772,X1nvKXUJ5Lp3W9Oe-_JrMQ,cXMdeBlGAbmQRo47rd0s0g,For being one of very very few stations nearby...,2011-07-12 22:48:36,0
4,69814,WtJ_2EyXceJEaVqj14P4TA,SbdL-8NSmTWgSwdGZBa7WQ,Had another great pizza from these guys today....,2017-03-07 01:39:04,0
...,...,...,...,...,...,...
39995,206971,fCvMnJU1Z-XhAjKg99wK3Q,Hr_zdqPZ9VkGjKNv4UIQRg,15% off pickup.,2020-05-12 16:19:07,0
39996,840090,_uY0oABo6aApmuuhR6lkXw,Q8q-1MZTYPL9ZBmAeoMKVg,The owner has two faces over there.,2019-10-26 04:31:34,0
39997,468190,oRFa3bx6JkVxBkvDDe2JeA,2WGnykxiM-Mp-qIm2u7iAw,A little Italian meal before we embark on the ...,2011-07-18 22:19:37,0
39998,274558,7yuBjruAJfk0n0eTFONMSg,LDbmL__o7H6VILMEpxm44A,Everyone keeps mentioning the cyclists as if t...,2014-08-02 16:18:27,0
39999,533053,k6wY5eervyqM0wWTzNokIA,nFdDkQNfy3bOLrs1Wdn7ow,Loved this cozy delicious coffee house,2017-01-28 19:20:19,0

In [12]:
## TODO: isolate just restaurants, then join restaurants with reviews

In [32]:
# assumption: all business that have "Restaurants" in their categories tag are restaurants

justResto = business_df[business_df['categories'].str.contains('Restaurants', na = False)]

1        Fast Food, Restaurants, American (Traditional)...
5        Sandwiches, Cafes, Restaurants, Breakfast & Br...
8                                       Restaurants, Pizza
9                                       Pizza, Restaurants
11       Seafood, American (Traditional), Salad, Restau...
                               ...
39987    Mexican, Restaurants, American (New), Salad, A...
39990                Barbeque, American (New), Restaurants
39991                      Burgers, Restaurants, Fast Food
39998     Seafood, Asian Fusion, Restaurants, Cajun/Creole
39999    American (Traditional), Restaurants, Burgers, ...
Name: categories, Length: 13800, dtype: object

In [51]:
# now joining businesses with all reviews that correspond with them

review_df1 = review_df.set_index('business_id')

In [54]:
justResto1 = justResto.set_index('business_id')

In [69]:
merged = justResto1.merge(review_df1, on = 'business_id')

In [70]:
merged1 = merged.set_index('review_id')

In [71]:
merged1

,Unnamed: 0_x,name,address,city,state,postal_code,latitude,longitude,stars_x,review_count,...,categories,hours,Unnamed: 0_y,user_id,stars_y,useful,funny,cool,text,date
review_id,,,,,,,,,,,,,,,,,,,,,
6RXN3QTRPoO2qkSWewZPXg,431,Marty's Pizza,2733 De La Vina St,Santa Barbara,CA,93105,34.436236,-119.726147,4.0,64,...,"Pizza, Restaurants","{'Tuesday': '11:0-21:30', 'Wednesday': '11:0-2...",692043,kfqJtAHmg7M_XOvD3VvjdQ,5,0,0,0,I used to be a big fan of another olace her in...,2020-08-25 03:20:09
0e0zx9n0lZfCYUV3H0tuLw,431,Marty's Pizza,2733 De La Vina St,Santa Barbara,CA,93105,34.436236,-119.726147,4.0,64,...,"Pizza, Restaurants","{'Tuesday': '11:0-21:30', 'Wednesday': '11:0-2...",86465,mfOkLsJUMKV_lphqI4l2zg,4,0,0,0,In short - good pizza and service. We ordered ...,2011-01-17 19:59:12
7YHOLkLbE52FXgfhFIzzpg,431,Marty's Pizza,2733 De La Vina St,Santa Barbara,CA,93105,34.436236,-119.726147,4.0,64,...,"Pizza, Restaurants","{'Tuesday': '11:0-21:30', 'Wednesday': '11:0-2...",620943,9oVKP8jLuxN71KWwD_VZLg,5,0,0,0,Best pizza in town! This place is run as well ...,2020-12-28 05:04:56
V23dInz_ErpZltJtQ18_zw,26660,Tilted Kilt Pub & Eatery,250 S Craycroft Rd,Tucson,AZ,85711,32.218669,-110.875894,3.0,90,...,"Restaurants, Beer, Wine & Spirits, Food, Night...","{'Monday': '11:0-23:0', 'Tuesday': '11:0-23:0'...",820321,jMtauQq7-FY7wV06VrSxAQ,4,2,1,1,What a difference from the old risky biz to th...,2014-08-28 15:21:40
zdaKEusAaLugN8h0lgCczw,11848,Korea House,1261 Castillons Arcade Plz,Creve Coeur,MO,63141,38.682436,-90.475674,3.5,39,...,"Vietnamese, Korean, Restaurants",NaN,159060,Zo91_kmvCiT27TtXZV5F5Q,4,0,0,1,My gut instinct is to say that this place is p...,2012-07-07 08:05:52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Ip4RhfZ-mailzoLputtKXw,15996,Cheu Fishtown,1416 Frankford Ave,Philadelphia,PA,19125,39.972203,-75.134603,4.0,250,...,"Restaurants, Noodles, Asian Fusion, Japanese","{'Monday': '16:30-21:30', 'Tuesday': '16:30-21...",871170,qrZ4ljogihf_8RPB6eCsxg,1,4,7,3,I hate to be the negative nancy to point out t...,2017-08-02 01:34:53
K6-PWYDYHdoAm-qAaj0v4Q,27375,Pho Don,3528 Germantown Ave,Philadelphia,PA,19140,40.006730,-75.150340,4.5,43,...,"Vietnamese, Restaurants","{'Monday': '8:30-19:30', 'Tuesday': '8:30-19:3...",856362,5V_7RWbh4PT_ayI2_ev4Ag,5,0,0,0,Outstanding food and decor!! Was really taken ...,2018-06-30 02:54:41
zK8ppTs3iwMxXA_LJGyo9A,25684,Pho-ladelphia,1100 Jackson St,Philadelphia,PA,19148,39.922317,-75.164860,4.0,27,...,"Restaurants, Vietnamese","{'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21...",935026,4HLsonIT6-TLf8gHnhijxA,1,0,0,0,"Since moving to Philly, Pho has become my new ...",2016-04-30 01:50:26
Imyc-ifE4rcymY_2Q34ryA,25684,Pho-ladelphia,1100 Jackson St,Philadelphia,PA,19148,39.922317,-75.164860,4.0,27,...,"Restaurants, Vietnamese","{'Tuesday': '11:0-21:0', 'Wednesday': '11:0-21...",982158,lt-a50XVT69aFi7izsFgTA,2,2,0,0,Ordered food and was missing a beef noodle sou...,2016-06-08 01:02:38
E4WJJ48FeQfTWFdZdRS6XQ,29326,Mommie Joe's,1036 S Broad St,Trenton,NJ,08611,40.205113,-74.745103,3.5,11,...,"Caribbean, Mexican, Restaurants, Latin America...","{'Monday': '11:0-20:0', 'Tuesday': '11:0-20:0'...",905127,XEpkADp4fP7Q-aoQsiGDaA,5,0,0,0,Best Haitian restaurant in the area. I loved t...,2016-01-21 20:35:42